/* 
body{
    /*background-color:darkred;*/
    
}	
.toplogo{
    height:175px;
}
ul.header{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: darkred;
    overflow: hidden;

}
li a:hover{
    background-color: gold;
    color: darkred;
    
}
li{
    float: right;
    cursor: pointer;
}
li a{
    display: block;
    color: gold;
    text-align: center;
    text-decoration: none;
    padding:25px;
}
button:hover{
    background-color: gold;
    color: darkred;
}
.content{
    padding: 17px;
}
.stickty + .content{
    padding-top: 100px;
}
.stickty{
    position: fixed;
    top:0;
    width:100%;
}
img{
    height:165px;
    float: left;
    padding: 5px;
}
.title{
    height: 70px;
    text-align: center; 
    padding: 20px;
}
#par{
    font-size: 19px;
}
#pad{
    padding-top: 20px;
}
 */
